.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.instyle{
  display:inline-block;
  padding-bottom: 20px;
}
.spacer{
  padding-right: 30px;
}
.centerer{
   
  margin: 0 auto;
}

.wid{
  display: inline-block;
  width: 500px;
}
.padder{
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.hei{
  margin: 300 auto;
line-height: 1.2em;
}

.centerer{
   
  margin: 0 auto;
}
.bolder{
  font-style: bold;
}
